.menu-item {
  border: 1px solid #cacaca;
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 120px;
}

.menu-item .submenu {
  height: 40px;
  width: 120px;
  background: green;
  position: absolute;
  cursor: pointer;
  display: none;
}
